# Data Handling
pandas==2.2.2

# HTTP Requests for Scraping
requests==2.31.0

# HTML/XML Parsing
beautifulsoup4==4.12.3
lxml==5.2.2

# Web Application Framework
streamlit==1.35.0

# Machine Learning
scikit-learn==1.4.2

# Map Visualization
folium==0.16.0